div {
  width: 100px;
  height: 100px;
  background: orange;
  transition: width 3s, height 5s, transform 2s;
  margin-top:100px;
  margin-left:10px;
}

 h2{
 	text-align: center;
 	font-family: helvetica;
 }

div:hover {
  width: 400px;
  height: 400px;
  transform: rotate(360deg);
}
